.page-enter-active,
.page-leave-active {
  transition-duration: 1600ms;
}
.page-enter-active::before,
.page-leave-active::before,
.page-enter-active::after,
.page-leave-active::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 50%;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}
.page-enter-active::before,
.page-leave-active::before {
  background-color: #191919;
}
.page-enter-active::after,
.page-leave-active::after {
  top: 50%;
  background-color: #191919;
}
.page-leave::before,
.page-leave::after {
  transform: scaleX(0);
}
.page-leave-active::before {
  transition-duration: 800ms;
}
.page-leave-active::after {
  transition-duration: 500ms;
  transition-delay: 300ms;
}
.page-leave-to::before,
.page-leave-to::after {
  transform: scale(1);
  transform-origin: left;
}
.page-enter::before,
.page-enter::after {
  transform: scaleX(1);
}
.page-enter-active::before {
  transition-duration: 800ms;
}
.page-enter-active::after {
  transition-duration: 500ms;
  transition-delay: 300ms;
}
.page-enter-to::before,
.page-enter-to::after {
  transform: scaleX(0);
  transform-origin: right;
}
